.list {    
    background-color: #f5f5f5;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.list  h1 {
    text-align: center;
    color:darkcyan;
    padding-bottom: 1rem;
}

.list .note {
    display: inline-block;
    width: 400px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    background-color: white;
    padding: 6px;
    text-align: center;
    vertical-align: top;
}

.list .note img {
    max-height: 300px;    
    max-width: 100%;
}