{% extends 'base.html' %}

{% load static %}

{% block title %}User Logout{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/users-logout.css' %}">
{% endblock %}
{% block content %}
{% block content %}
<div class="container text-center">
    <h2 class="mt-5">Are you sure you want to log out?</h2>
    <form action="{% url 'users/logout' %}" method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
{% endblock %}

{% block js %}
    
{% endblock %}